:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#eBdfec;
    --text-black-900:#302e70;
    --text-black-700:#504e70;

}
body{
    line-height: 1.5;
    font-size:16px;
}
*
{
    margin:0;
    padding:0;
    text-decoration: none;
    outline:none;
    box-sizing:border-box;
}